@font-face {
    font-family: JotRegular;
    src: local('/fonts/JotRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: local('/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 2.2rem;
    font-family: JotRegular;
}
.copyright{
    font-size: 0.8rem;
    background: yellow;
}
.footer{
    background: darkorange;
    color: #fff;
}
.footer ul{
    list-style: none;
}
.footer ul li a{
    color: #fff;
}
nav{
    position: absolute;
    width: 100%;
    align-items: center;
    min-height: 80px;
}
nav ul li {
    color: #8bcdbd;
}

.logo{
    position: relative;
    z-index: 1;
    height: 100px;
}
.logo img{
    border-style: none;
    padding-top: 5px;
    height: 150px;
    -webkit-filter: drop-shadow(2px 2px 2px #222 );
}
.title-menu h1{
    padding-left: 40px;
}
.nav-links li{
    list-style: none;
    padding-right: 20px;
}
.nav-links ul{
    padding: 0px !important;
    text-decoration: none;
}
.title-menu li ul a{
    padding: 0px;
    text-decoration: none;
    color: #8bcdbd !important;
}
.footer-title{
    right: 0px;
    bottom: 0px;
}
.footer .footer-logo{
    position: relative;
    z-index: 1;
    margin-top: -30px;
}
.social i {
    font-size: 2rem;
    padding: 5px;
}
.footer-logo img{
    border-style: none;
    padding-top: 5px;
    height: 150px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
}

// front
.intro{
    background: #1b4b72;
    padding: 50px;
    color: #fff;
    background-color:#8bcdbd;
}
.intro-body p{
    color: #298b6e;
}

.usp{
    padding: 20px;
}
.na-box {
    padding: 40px;
    background-color: #e6f4f0;
}
//.gp-logo{
//    box-shadow:2px 2px #000000;
//}
.d-box{
    padding: 40px;
}
.i-box img{
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}
.slider{
    margin-top: 80px;
}
.slider .col-xl-6{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.slider-text{
    background-color: #aee4ea;
    padding: 40px !important;
}
.slider-nav{
    width: 140px;
}
.slider-text img{
    height: 200px;
    -webkit-filter: drop-shadow(2px 2px 2px #222 );
}
.slider-nav{
    color: #fff;
}
// should change class instead of 4 id's
.slider .item{
    height: 400px;
}
.slider .item img{
    height:100%;
    overflow: hidden;
}
#slide1{
   display: block;
}
#slide2{
   display: none;
}
#slide3{
   display: none;
}
#slide4{
   display: none;
}
.slider-nav i{
    cursor: pointer;
}
.slider-nav .active{
    color: #1b1e21;
}
.slider-image .item img{
    display: block;
    width: 100%;
}

@media screen and (max-width:768px) {
    .burger{
        display: block;
    }

    .title-menu h1{
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .nav-links li{
        display: none;
        padding: 20px;
        background: #1f6fb2;
        z-index: 5;
        color: #fff;
    }
    .nav-active{
        background: #fff;
    }
}
